<div class="pay-info">
  <img
    src="https://static.gamsgocdn.com/image/2b0f0d4fffd4e6b2707172386227b131.webp"
  />
  <div class="info flex-1">
    <p class="name">Netflix</p>
    <p class="price">S/ 16.77<span>S/ 18.99</span></p>
    <p class="desc">1 mes, 5 perfiles</p>
  </div>
  <div
    class="iconfont icon-close"
    style="font-size: 22px; color: rgb(204, 204, 204)"
  ></div>
</div>
<div class="pay-choice">
  <div class="header-line"></div>
  <h4 style="margin: 0px">Meses de compra</h4>
  <div
    class="v-btn-group v-theme--light v-btn-group--density-default v-btn-toggle btn-group"
  >
    <button
      type="button"
      class="v-btn v-btn--active v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-plain"
      value="1"
      style="height: auto"
    >
      <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
      ><!----><span class="v-btn__content" data-no-activator="">1 mes</span
      ><!----><!----></button
    ><button
      type="button"
      class="v-btn v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-plain"
      value="2"
      style="height: auto"
    >
      <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
      ><!----><span class="v-btn__content" data-no-activator="">2 meses</span
      ><!----><!----></button
    ><button
      type="button"
      class="v-btn v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-plain"
      value="3"
      style="height: auto"
    >
      <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
      ><!----><span class="v-btn__content" data-no-activator="">3 meses</span
      ><!----><!----></button
    ><button
      type="button"
      class="v-btn v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-plain"
      value="6"
      style="height: auto"
    >
      <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
      ><!----><span class="v-btn__content" data-no-activator="">6 meses</span
      ><!----><!---->
    </button>
  </div>
  <h4 style="margin-bottom: 0px">Seleccionar dispositivos</h4>
  <div
    class="v-btn-group v-theme--light v-btn-group--density-default v-btn-toggle btn-group"
  >
    <button
      type="button"
      class="v-btn v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-plain"
      value="1"
      style="height: auto; opacity: 1"
    >
      <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
      ><!----><span class="v-btn__content" data-no-activator=""
        >1 perfil&nbsp;<span class="tips">(Compartido)</span></span
      ><!----><!----></button
    ><button
      type="button"
      class="v-btn v-btn--active v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-plain"
      value="5"
      style="height: auto; opacity: 1"
    >
      <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
      ><!----><span class="v-btn__content" data-no-activator=""
        >5 perfiles&nbsp;<span class="tips">(Privado)</span></span
      ><!----><!---->
    </button>
  </div>
  <!----><!---->
  <!-- <div  class="select-title">
    <div

      class="text-decoration-underline cursor-pointer w-90"
      style="margin-bottom: 0px"
    >
      ¿Tiene un código promocional o cupón?
    </div>
  </div> -->
  <!----><!---->
  <div class="footer-line"></div>
</div>
<div class="pay-btn dialog-btn">
  <button
    type="button"
    class="v-btn v-theme--light v-btn--density-default v-btn--rounded v-btn--size-default v-btn--variant-text"
  >
    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
    ><!----><span class="v-btn__content" data-no-activator=""
      ><img
        src="https://static.gamsgocdn.com/gg2/images/common/video.png"
        style="width: 16px; margin-right: 8px"
      />
      ¿Cómo funciona?</span
    ><!----><!---->
  </button>
  <div class="dialog-btn" style="    gap: 30px;
  display: flex;">
    <button
      type="button"
      class="v-btn v-theme--light v-btn--density-default v-btn--rounded v-btn--size-default v-btn--variant-text mr-4 flex-1"
    >
      <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
      ><!----><span class="v-btn__content" data-no-activator="">Cancelar</span
      ><!----><!----></button
    ><button
      type="button"
      class="v-btn v-theme--light v-btn--density-default v-btn--rounded v-btn--size-default v-btn--variant-text payment flex-1"
      style="color: rgb(255, 255, 255); caret-color: rgb(255, 255, 255)"
    >
      <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span
      ><!----><span class="v-btn__content" data-no-activator=""
        >Pagar ahora</span
      ><!----><!---->
    </button>
  </div>
</div>
