.coupon{
  bottom: 84px;
  cursor: pointer;
  position: fixed;
  right: 24px;
  z-index: 111;
}
.animated {
  --animate-duration: 1s;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}
.infinite {
  animation-iteration-count: infinite;
}
.pendulum{
  animation-name: pendulum;
  animation-timing-function: ease-in-out;
}
@keyframes pendulum {
  0% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    transform-origin: top center;
}
to {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  transform-origin: top center
}
}
