<div class="review-wrapper-box">
  <h3><span>98%</span> Reseñas positivas</h3>
  <div class="review-box">
    <div class="swiper-button-prev" (click)="onPrev()">
      <div class="arrow-button">
        <img src="assets/svg/e-commerce/button-prev.svg" alt="" />
      </div>
    </div>
    <div class="swiper-button-next" (click)="onNext()">
      <div class="arrow-button">
        <img src="assets/svg/e-commerce/button-next.svg" alt="" />
      </div>
    </div>

    <div class="" style="width: 100%">
      <swiper-container [slidesPerView]="4" #swiperElem init="true" loop="true">
        <swiper-slide>
          <div class="pa-3 pb-4">
            <div class="review-card">
              <div class="user-box mb-6">
                <div class="avator">
                  <img
                    crossorigin="anonymous"
                    src="assets/img/person1.jpg"
                    class="img"
                  />
                </div>
                <div class="info">
                  <div class="name">Davidr</div>
                  <div class="region mt-3">Designer</div>
                </div>
              </div>
              <div class="content mb-3 close">
                Accidentalmente compré el producto equivocado, el servicio al
                cliente me ayudó a reembolsarlo y me dio el producto que quiero
                comprar para usar primero, excelente equipo del soporte.
              </div>
              <!---->
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="pa-3 pb-4">
            <div class="review-card">
              <div class="user-box mb-6">
                <div class="avator">
                  <img src="assets/img/person2.jpg" class="img" />
                </div>
                <div class="info">
                  <div class="name">Abel</div>
                  <div class="region mt-3">IT</div>
                </div>
              </div>
              <div class="content mb-3 close">
                He comprado la suscripción de Netflix en metelePlay, la cuenta de
                Netflix siempre es renovable, no tengo que preocuparme por
                cambiar de cuenta, es una plataforma me sirve perfecto.
              </div>
              <!---->
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="pa-3 pb-4">
            <div class="review-card">
              <div class="user-box mb-6">
                <div class="avator">
                  <img src="assets/img/person3.jpg" class="img" />
                </div>
                <div class="info">
                  <div class="name">Andrea</div>
                  <div class="region mt-3">Model</div>
                </div>
              </div>
              <div class="content mb-3 close">
                La primera vez que usé la suscripción de metelePlay, no funcionó. Su
                soporte me enseñó pacientemente cómo usarlo y cómo administrar
                mi cuenta de suscripción. Este servicio me dio experiencia muy
                buena. Lo recomiendo mucho.
              </div>
              <!---->
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="pa-3 pb-4">
            <div class="review-card">
              <div class="user-box mb-6">
                <div class="avator">
                  <img src="assets/img/person4.jpg" class="img" />
                </div>
                <div class="info">
                  <div class="name">Jesus</div>
                  <div class="region mt-3">IT</div>
                </div>
              </div>
              <div class="content mb-3 close">
                L'acquisto di Netflix su metelePlay lo uso da un po' senza
                problemi, ho appena avuto un problema con la modifica del
                profilo dell'account condiviso al primo acquisto ma l'ho risolto
                con l'aiuto dell'assistenza clienti, piattaforma molto bella
              </div>
              <!---->
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="pa-3 pb-4">
            <div class="review-card">
              <div class="user-box mb-6">
                <div class="avator">
                  <img src="assets/img/person5.jpg" class="img" />
                </div>
                <div class="info">
                  <div class="name">Ator Untela</div>
                  <div class="region mt-3">IT</div>
                </div>
              </div>
              <div class="content mb-3 close">
             Buen servicio todo conforme con los productos solicitados. Agradecido con el proveedor RIP PACHO ALKAEDA
              </div>
              <!---->
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>

<!-- <swiper-container
navigation = true
#swiper
>
  <swiper-wrapper>
    <swiper-slide >
      <div class="resenia">
        <div class="resenia__header">
          <div class="resenia__header__img">
            <img alt="">
          </div>
          <div class="resenia__header__info">
            <div class="resenia__header__info__name">
           a
            </div>
            <div class="resenia__header__info__date">
       a
            </div>
          </div>
        </div>
        <div class="resenia__body">
         a
        </div>
      </div>
    </swiper-slide>
    <swiper-slide >
      <div class="resenia">
        <div class="resenia__header">
          <div class="resenia__header__img">
            <img alt="">
          </div>
          <div class="resenia__header__info">
            <div class="resenia__header__info__name">
           a
            </div>
            <div class="resenia__header__info__date">
       a
            </div>
          </div>
        </div>
        <div class="resenia__body">
         a
        </div>
      </div>
    </swiper-slide>

  </swiper-wrapper>
  <div class="swiper-pagination"></div>
</swiper-container> -->
