<form class="recover-form"  [formGroup]="formCreate">
    <h2>Recuperación</h2>
    <p>Ingrese la nueva contraseña</p>
    <div style="margin-top: 0.5em;">
        <h3>Password</h3>
        <mat-form-field appearance="outline" class="input">
          <input
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="newpassword"
          />
          <div matSuffix *ngIf="true">
            <img src="assets/icons/password.svg" alt="pass"/>
          </div>
          <mat-error>
            Ingrese una contraseña valida (min. 8 carácteres, incluir mayúscula)
          </mat-error>
        </mat-form-field>
    </div>
    <div style="margin-top: 0.5em;">
        <h3>Password</h3>
        <mat-form-field appearance="outline" class="input">
          <input
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="newpasswordrepeat"
          />
          <div matSuffix *ngIf="true">
            <img src="assets/icons/password.svg" alt="pass"/>
          </div>
          <mat-error>
            Ingrese una contraseña valida (min. 8 carácteres, incluir mayúscula)
          </mat-error>
        </mat-form-field>
    </div>
    <button type="button" (click)="updatePassword()">CAMBIAR CONTRASEÑA</button>
</form>