@media screen and (min-width: 1060px) and (max-width: 1406px) {
  .list-wrapper-box {
    display: flex;
    justify-content: center;
    margin-top: -130px;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    .list-box {
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
      width: 1020px !important;
      justify-content: center;

      .category-box {
        margin-right: 16px !important;
        width: calc(33.33333% - 10.66667px) !important;
        .category-top {
          background: #fff;
          border-radius: 16px;
          box-shadow: 0 4px 16px #00000014;
          display: flex;
          height: 274px;
          justify-content: center;
          margin-bottom: 16px;
          overflow: hidden;
          position: relative;
          width: 100%;
          .service {
            margin-top: 25px;
          }
          .card {
            bottom: 0;
            left: 0;
            position: absolute;
          }
          .category-card-box {
            align-items: center;
            bottom: 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            height: 150px;
            left: 0;
            position: absolute;
            width: 100%;
            .category-showcase {
              align-items: center;
              display: flex;
              height: 54px;
              position: relative;
              top: -18px;
              width: 176px;
              z-index: 1;
              .category-avator {
                // border: 2px solid #fff;
                border: 2px solid white;

                border-radius: 48px;
                box-sizing: border-box;
                height: 48px;
                width: 48px;
              }
            }
            .buttom {
              height: 48px;
              position: absolute;
              right: 2px;
              top: 4px;
              width: 48px;
              z-index: 2;
            }
            .category-money {
              // font-family: Metropolis;
              font-weight: 600;
              font-size: 36px;
              line-height: 42px;
              padding-top: 8px;
              .pl-1 {
                font-size: 20px;
                line-height: 24px;
              }
            }
            .category-duration {
              font-size: 14px;
              line-height: 16px;
              // margin-top: 8px;
            }
          }
        }
        .category-bottom {
          background: linear-gradient(
            180deg,
            hsla(3, 90%, 96%, 0.722),
            hsla(0, 100%, 94%, 0)
          );
          border-radius: 16px;
          margin-bottom: 24px;
          padding: 24px 20px;
          width: 100%;
          ul {
            color: #ef534f;
            cursor: default;
          }
          li {
            align-items: flex-start;
            display: flex;
            margin-bottom: 6px;
            list-style-type: none;
          }
          .part {
            max-height: 78px;
            overflow: hidden;
            .icon-check {
              color: #ef534f;
              margin-right: 8px;
              height: 18px;
              width: 18px;
            }
            .content {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
            }
          }
          .all {
            height: auto;
            .icon-check {
              color: #ef534f;
              margin-right: 8px;
              height: 18px;
              width: 18px;
            }
            .content {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
            }
          }
          .view-more-box {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            margin-top: 22px;
            width: 100%;
            .arrow-icon {
              height: 6px;
              margin-top: 2px;
              width: 10px;
              color: #ef534f;
            }
          }
          .btn {
            background-color: #ef534f;
            border-radius: 25px;
            box-shadow: 0 5px 10px #0000001a;
            font-weight: 700;
            height: 50px;
            margin-top: 24px;
            width: 100%;
            .content {
              color: #fff;
              grid-area: content;
              justify-content: center;
              white-space: nowrap;
            }
          }
          .href {
            color: #ef534f;
            display: inline-block;
            font-weight: 700;
            padding-top: 24px;
            padding-bottom: 4px;
            text-align: center;
            width: 100%;
            text-decoration: underline;
          }
        }
        // le hacemos un hover y un box shadow oscuro
        &:hover {
          .category-top {
            box-shadow: 0 8px 32px #0000003d;
            cursor: pointer;
          }
        }
      }
      //n child
      .category-box:nth-child(3n) {
        margin-right: 0 !important;
      }
    }
  }
}
@media screen and (min-width: 712px) and (max-width: 1060px) {
  .list-box {
    width: 672px !important;
    .category-box {
      margin-right: 16px !important;
      width: calc(50% - 16px) !important;
      .category-top {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 4px 16px #00000014;
        display: flex;
        height: 274px;
        justify-content: center;
        margin-bottom: 16px;
        overflow: hidden;
        position: relative;
        width: 100%;
        .service {
          margin-top: 25px;
        }
        .card {
          bottom: 0;
          left: 0;
          position: absolute;
        }
        .category-card-box {
          align-items: center;
          bottom: 0;
          color: #fff;
          display: flex;
          flex-direction: column;
          height: 150px;
          left: 0;
          position: absolute;
          width: 100%;
          .category-showcase {
            align-items: center;
            display: flex;
            height: 54px;
            position: relative;
            top: -18px;
            width: 176px;
            z-index: 1;
            .category-avator {
              // border: 2px solid #fff;
              border: 2px solid white;

              border-radius: 48px;
              box-sizing: border-box;
              height: 48px;
              width: 48px;
            }
          }
          .buttom {
            height: 48px;
            position: absolute;
            right: 2px;
            top: 4px;
            width: 48px;
            z-index: 2;
          }
          .category-money {
            // font-family: Metropolis;
            font-weight: 600;
            font-size: 36px;
            line-height: 42px;
            padding-top: 8px;
            .pl-1 {
              font-size: 20px;
              line-height: 24px;
            }
          }
          .category-duration {
            font-size: 14px;
            line-height: 16px;
            // margin-top: 8px;
          }
        }
      }
      .category-bottom {
        background: linear-gradient(
          180deg,
          hsla(3, 90%, 96%, 0.722),
          hsla(0, 100%, 94%, 0)
        );
        border-radius: 16px;
        margin-bottom: 24px;
        padding: 24px 20px;
        width: 100%;
        ul {
          color: #ef534f;
          cursor: default;
        }
        li {
          align-items: flex-start;
          display: flex;
          margin-bottom: 6px;
          list-style-type: none;
        }
        .part {
          max-height: 78px;
          overflow: hidden;
          .icon-check {
            color: #ef534f;
            margin-right: 8px;
            height: 18px;
            width: 18px;
          }
          .content {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
          }
        }
        .all {
          height: auto;
          .icon-check {
            color: #ef534f;
            margin-right: 8px;
            height: 18px;
            width: 18px;
          }
          .content {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
          }
        }
        .view-more-box {
          align-items: center;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          margin-top: 22px;
          width: 100%;
          .arrow-icon {
            height: 6px;
            margin-top: 2px;
            width: 10px;
            color: #ef534f;
          }
        }
        .btn {
          background-color: #ef534f;
          border-radius: 25px;
          box-shadow: 0 5px 10px #0000001a;
          font-weight: 700;
          height: 50px;
          margin-top: 24px;
          width: 100%;
          .content {
            color: #fff;
            grid-area: content;
            justify-content: center;
            white-space: nowrap;
          }
        }
        .href {
          color: #ef534f;
          display: inline-block;
          font-weight: 700;
          padding-top: 24px;
          padding-bottom: 4px;
          text-align: center;
          width: 100%;
          text-decoration: underline;
        }
      }
      // le hacemos un hover y un box shadow oscuro
      &:hover {
        .category-top {
          box-shadow: 0 8px 32px #0000003d;
          cursor: pointer;
        }
      }
    }
    //n child
    .category-box:nth-child(2n) {
      margin-right: 0 !important;
    }
  }
}
@media screen and (max-width: 712px) {
  .list-box {
    justify-content: center !important;
    width: 100% !important;
    .category-box {
      margin-right: 16px !important;
      min-width: 333px !important;
      width: calc(25% - 18px);
      .category-top {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 4px 16px #00000014;
        display: flex;
        height: 274px;
        justify-content: center;
        margin-bottom: 16px;
        overflow: hidden;
        position: relative;
        width: 100%;
        .service {
          margin-top: 25px;
        }
        .card {
          bottom: 0;
          left: 0;
          position: absolute;
        }
        .category-card-box {
          align-items: center;
          bottom: 0;
          color: #fff;
          display: flex;
          flex-direction: column;
          height: 150px;
          left: 0;
          position: absolute;
          width: 100%;
          .category-showcase {
            align-items: center;
            display: flex;
            height: 54px;
            position: relative;
            top: -18px;
            width: 176px;
            z-index: 1;
            .category-avator {
              // border: 2px solid #fff;
              border: 2px solid white;

              border-radius: 48px;
              box-sizing: border-box;
              height: 48px;
              width: 48px;
            }
          }
          .buttom {
            height: 48px;
            position: absolute;
            right: 2px;
            top: 4px;
            width: 48px;
            z-index: 2;
          }
          .category-money {
            // font-family: Metropolis;
            font-weight: 600;
            font-size: 36px;
            line-height: 42px;
            padding-top: 8px;
            .pl-1 {
              font-size: 20px;
              line-height: 24px;
            }
          }
          .category-duration {
            font-size: 14px;
            line-height: 16px;
            // margin-top: 8px;
          }
        }
      }
      .category-bottom {
        background: linear-gradient(
          180deg,
          hsla(3, 90%, 96%, 0.722),
          hsla(0, 100%, 94%, 0)
        );
        border-radius: 16px;
        margin-bottom: 24px;
        padding: 24px 20px;
        width: 100%;
        ul {
          color: #ef534f;
          cursor: default;
        }
        li {
          align-items: flex-start;
          display: flex;
          margin-bottom: 6px;
          list-style-type: none;
        }
        .part {
          max-height: 78px;
          overflow: hidden;
          .icon-check {
            color: #ef534f;
            margin-right: 8px;
            height: 18px;
            width: 18px;
          }
          .content {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
          }
        }
        .all {
          height: auto;
          .icon-check {
            color: #ef534f;
            margin-right: 8px;
            height: 18px;
            width: 18px;
          }
          .content {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
          }
        }
        .view-more-box {
          align-items: center;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          margin-top: 22px;
          width: 100%;
          .arrow-icon {
            height: 6px;
            margin-top: 2px;
            width: 10px;
            color: #ef534f;
          }
        }
        .btn {
          background-color: #ef534f;
          border-radius: 25px;
          box-shadow: 0 5px 10px #0000001a;
          font-weight: 700;
          height: 50px;
          margin-top: 24px;
          width: 100%;
          .content {
            color: #fff;
            grid-area: content;
            justify-content: center;
            white-space: nowrap;
          }
        }
        .href {
          color: #ef534f;
          display: inline-block;
          font-weight: 700;
          padding-top: 24px;
          padding-bottom: 4px;
          text-align: center;
          width: 100%;
          text-decoration: underline;
        }
      }
      // le hacemos un hover y un box shadow oscuro
      &:hover {
        .category-top {
          box-shadow: 0 8px 32px #0000003d;
          cursor: pointer;
        }
      }
    }
    //n child
    .category-box:nth-child(2n) {
      margin-right: 0 !important;
    }
  }
}
.title {
  margin-top: 24px;

  width: 100%;
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  font-family: "Metropolis";
  font-weight: 600;
  font-size: 32px;
}
.net {
  color: black;
}
.disney {
  color: #0f4c81;
}
.hbo-max {
  // color: #00a0dc;
  // morado
  color: #6c63ff;
}
.body {
  flex: 1;
  .signboard-wrapper-box {
    align-items: center;
    background-color: #ef534f;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    h2 {
      color: #fff;
      font-size: 32px;
      line-height: 40px;
      padding: 64px 0;
      text-align: center;
      font-weight: 600;
      font-family: Metropolis;
    }
    .poster {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 148px;
      width: 1320px;
      .flex-1 {
        flex: 1;
      }
      .poster-block {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
        .title {
          font-size: 30px;
          font-weight: 600;
          line-height: 36px;
          font-family: Metropolis;
        }
        .desc {
          margin-top: 8px;
          font-family: Metropolis;
        }
      }
    }
    .svg-box {
      height: 30px;
      position: relative;
      width: 100%;
    }
    .svg {
      position: absolute;
      top: -1px;
      width: 100%;
    }
  }
  .list-wrapper-box {
    display: flex;
    justify-content: center;
    margin-top: -130px;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    .list-box {
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
      width: 1366px;
      justify-content: center;

      .category-box {
        margin-right: 24px;
        width: calc(25% - 18px);
        .category-top {
          background: #fff;
          border-radius: 16px;
          box-shadow: 0 4px 16px #00000014;
          display: flex;
          height: 274px;
          justify-content: center;
          margin-bottom: 16px;
          overflow: hidden;
          position: relative;
          width: 100%;
          .service {
            margin-top: 25px;
          }
          .card {
            bottom: 0;
            left: 0;
            position: absolute;
          }
          .category-card-box {
            align-items: center;
            bottom: 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            height: 150px;
            left: 0;
            position: absolute;
            width: 100%;
            .category-showcase {
              align-items: center;
              display: flex;
              height: 54px;
              position: relative;
              top: -18px;
              width: 176px;
              z-index: 1;
              .category-avator {
                // border: 2px solid #fff;
                border: 2px solid white;

                border-radius: 48px;
                box-sizing: border-box;
                height: 48px;
                width: 48px;
              }
            }
            .buttom {
              height: 48px;
              position: absolute;
              right: 2px;
              top: 4px;
              width: 48px;
              z-index: 2;
            }
            .category-money {
              // font-family: Metropolis;
              font-weight: 600;
              font-size: 36px;
              line-height: 42px;
              padding-top: 8px;
              .pl-1 {
                font-size: 20px;
                line-height: 24px;
              }
            }
            .category-duration {
              font-size: 14px;
              line-height: 16px;
              // margin-top: 8px;
            }
          }
        }
        .category-bottom {
          background: linear-gradient(
            180deg,
            hsla(3, 90%, 96%, 0.722),
            hsla(0, 100%, 94%, 0)
          );
          border-radius: 16px;
          margin-bottom: 24px;
          padding: 24px 20px;
          width: 100%;
          ul {
            color: #ef534f;
            cursor: default;
          }
          li {
            align-items: flex-start;
            display: flex;
            margin-bottom: 6px;
            list-style-type: none;
          }
          .part {
            max-height: 78px;
            overflow: hidden;
            .icon-check {
              color: #ef534f;
              margin-right: 8px;
              height: 18px;
              width: 18px;
            }
            .content {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
            }
          }
          .all {
            height: auto;
            .icon-check {
              color: #ef534f;
              margin-right: 8px;
              height: 18px;
              width: 18px;
            }
            .content {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
            }
          }
          .view-more-box {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            margin-top: 22px;
            width: 100%;
            .arrow-icon {
              height: 6px;
              margin-top: 2px;
              width: 10px;
              color: #ef534f;
            }
          }
          .btn {
            background-color: #ef534f;
            border-radius: 25px;
            box-shadow: 0 5px 10px #0000001a;
            font-weight: 700;
            height: 50px;
            margin-top: 24px;
            width: 100%;
            .content {
              color: #fff;
              grid-area: content;
              justify-content: center;
              white-space: nowrap;
            }
          }
          .href {
            color: #ef534f;
            display: inline-block;
            font-weight: 700;
            padding-top: 24px;
            padding-bottom: 4px;
            text-align: center;
            width: 100%;
            text-decoration: underline;
          }
        }
        // le hacemos un hover y un box shadow oscuro
        &:hover {
          .category-top {
            box-shadow: 0 8px 32px #0000003d;
            cursor: pointer;
          }
        }
      }
      //n child
      .category-box:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  .why-wrapper-box {
    align-items: center;
    color: #333;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 0 20px;
    width: 100%;
    h3 {
      font-family: Metropolis;
      font-size: 32px;
      line-height: 40px;
      margin: 136px 0 80px;
    }
    span {
      color: #ef534f;
    }
    .why-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 1366px;
      li {
        list-style-type: none;
      }
      .card {
        display: flex;
        height: 148px;
        justify-content: space-between;
        margin-bottom: 48px;
        padding: 16px 24px;
        width: 438px;
        .icon-box {
          align-items: center;
          border-radius: 64px;
          box-shadow: 0 20px 20px #0000000d;
          display: flex;
          height: 64px;
          justify-content: center;
          width: 64px;
          .icon {
            background-size: cover;
            height: 36px;
            width: 36px;
          }
          .rocket{
            background-image: url(/assets/img/rocket.webp);
          }

          .pwd {
            background-image: url(/assets/img/pwd.webp)
        }

        .ssl {
            background-image: url(/assets/img/ssl.webp)
        }

        .support {
            background-image: url(/assets/img/support.webp)
        }

        .subscriber {
            background-image: url(/assets/img/subscriber.webp)
        }

        .refund {
            background-image: url(/assets/img/refund.webp)
        }
        }
        .mr-6 {
          margin-right: 24px !important;
        }
        .intro {
          flex: 1;
          h4 {
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
          }
          .desc {
            color: #999696;
            font-weight: 500;
            padding-top: 24px;
            line-height: 18px;
            font-size: 14px;
          }
        }
      }
      .card:hover {
        border-radius: 16px;
        box-shadow: 0 24px 40px #e6dbdb52;
        cursor: default;
      }
    }
  }
}
.swiper-slide {
  align-items: center;
  display: flex;
  height: 54px;
  width: 48px !important;
  margin-right: -16px !important;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-active {
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-name: swiperActive;
}

@keyframes swiperActive {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-5px);
  }

  to {
    transform: translate(0);
  }
}

.swiper-slide-next {
  animation-duration: 1s;
  animation-name: swiperNext;
}

@keyframes swiperNext {
  0% {
    height: 24px;
    transform: translate(24px);
    width: 24px;
  }

  40% {
    height: 54px;
    transform: translate(-10px);
    width: 54px;
  }

  to {
    height: 48px;
    transform: translate(0);
    width: 48px;
  }
}
