<form class="forgot-form" [formGroup]="formCreate">
    <h2>Recuperación</h2>
    <p>Ingrese el correo electrónico que registro para recuperar su contraseña.</p>
    <div>
        <h3>Email</h3>
        <mat-form-field appearance="outline" class="input">
          <input
            type="text"
            matInput
            placeholder="Correo"
            formControlName="mail_account"
          />
          <div matSuffix >
            <img src="assets/icons/mail.svg" alt="mail" />
          </div>
          <mat-error>Ingrese un correo válido</mat-error>
        </mat-form-field>
    </div>
    <p [ngStyle]="{
      'display': validing ? '' : 'none'
    }">verificando correo...</p>
    <div class="content-buttton" [ngClass]="{
      btndisabled: validing
    }">
        <button type="button" class="button save" (click)="sendMail()">Enviar</button>
        <button class="button cancel" type="button" routerLink="/auth">Cancelar</button>
    </div>
</form>